<div id="uneaten-div">
	<ul id="uneaten-list">
		{{#each uneaten}}
			<li class="uneaten-burger">
				{{this.burger_name}}
				<button class="eat-button" data-id="{{this.id}}">Eat!</button>
			</li>
		{{/each}}
	</ul>
</div>

<div id="eaten-div">
	<ul id="eaten-list">
		{{#each eaten}}
			<li class="eaten-burger">{{this.burger_name}}</li>
		{{/each}}
	</ul>
</div>

<form class="create-form">
	<input type="text" name="burgerName" id="burgerName" placeholder="New Burger Name">
	<button id="submitBurger">Submit</button>
</form>

<script type="text/javascript">
	$(document).ready(function() {
		$(".create-form").on("submit", function (event) {
			event.preventDefault();

			var burger = {
				burger_name: $("#burgerName").val().trim(),
			};

			$.ajax("/", {
				type: "POST",
				data: burger
			}).then(
				function (data) {
					console.log("created new burger: " +data);
					location.reload();
				}
			);
		});

		$(document).on("click", ".eat-button", function(event) {
			var burger = {
				eaten: 1,
				id: $(this).data("id")
			};

			$.ajax("/", {
				type: "PUT",
				data: burger
			}).then(
				function (data) {
					console.log("created new burger: " +data);
					location.reload();
				}
			);
		});
	});
</script>